// this is the main configuration file where
// you can set parameters and customize processes.

// set global parameters like input and output directory
params {
    input_dir = "tests/data/*.txt"
    out_dir = "results"
}

process {
    // store output files of every process in a subdirectory of $out_dir
    publishDir = [ path: { "${params.out_dir}/${task.process.tokenize(':')[-1]}" }, mode: 'link' ]

    // customize options for every process like this
    withName: test_script {
        // you can, optionally, use conda or a singularity container to manage dependencies
        // container = 'containers/singularity.img'
        // conda = '/home/sturm/.conda/envs/my_env'
        cpus = 2
    }
}
